#valid_joueur{
    margin: 10px;
    height: 20px;
}
.btn-player{
    margin-right: 8px;
}
#instuction_changement{
    margin: 20px;
}
.ajout_joueur_terrain{
    margin: 5px;
    margin-top: 10px;
}
#zero{
    height: 20px;
    margin: 10px;
}
.button{
    margin-top: 10px;
    margin-right: 5px;
}